fastapi
uvicorn[standard]
requests
beautifulsoup4
numpy
pillow
opencv-python-headless
face-recognition
googlesearch-python
pandas
transformers
torch
sentence-transformers
scikit-learn
networkx
python-multipart
websockets
jinja2
pyyaml
python-dotenv
arabic-reshaper
python-bidi
huggingface-hub
joblib
nltk
spacy
gensim
tqdm
httpx